/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(
		:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
	) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
	all: revert;
	box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
	-webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
	all: revert;
	box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
	display: none;
}

:root {
    /* Depends on style guide specification */
}

/* Utility classes */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  
  .container {
    --max-width: 1110px;
    --padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
  }
  
  .even-columns {
    display: grid;
    gap: 1rem;
  }
  
  @media (min-width: 50em) {
    .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
  
  .vertical-align-center {
    align-items: center;
  }
  
  .justify-self-end {
    justify-self: end;
  }
  
  @media (min-width: 50em) {
    .justify-self-end-md {
      justify-self: end;
    }
  }
  
  :where(.flow :not(:first-child)) {
    margin-top: var(--flow-spacer, 3em);
  }
  
  .text-primary-400 {
    color: var(--clr-primary-400);
  }
  .text-accent-400 {
    color: var(--clr-accent-400);
  }
  .text-accent-100 {
    color: var(--clr-accent-100);
  }
  .text-neutral-100 {
    color: var(--clr-neutral-100);
  }
  .text-neutral-900 {
    color: var(--clr-neutral-900);
  }
  
  .bg-primary-400 {
    background-color: var(--clr-primary-400);
  }
  .bg-accent-400 {
    background-color: var(--clr-accent-400);
  }
  .bg-accent-100 {
    background-color: var(--clr-accent-100);
  }
  .bg-neutral-100 {
    background-color: var(--clr-neutral-100);
  }
  .bg-neutral-900 {
    background-color: var(--clr-neutral-900);
  }
  
  .fw-bold {
    font-weight: var(--fw-bold);
  }
  .fw-semi-bold {
    font-weight: var(--fw-semi-bold);
  }
  .fw-regular {
    font-weight: var(--fw-regular);
  }
  
  .fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
  }
  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
  }
  
  .fs-300 {
    font-size: var(--fs-300);
  }
  .fs-400 {
    font-size: var(--fs-400);
  }
  .fs-500 {
    font-size: var(--fs-500);
  }
  .fs-600 {
    font-size: var(--fs-600);
  }
  
  .padding-block-900 {
    padding-block: var(--size-900);
  }
  .padding-block-700 {
    padding-block: var(--size-700);
  }
  
  .display-sm-none {
    display: none;
  }
  
  @media (min-width: 50em) {
    .display-md-inline-flex {
      display: inline-flex;
    }
  }
